sunfish
sunfish_test
sunfish_bm
sunfish_usi
sunfish_dev
test_result.xml
test_result_sse.xml
test_result_nosse.xml
Kifu
build

*.html
*.csa
*.out
*.d
*.o
*.gcda
*.log
*~
*.csv
*.bin
*.dat
*.txt
*.org
*.tar.gz

!LICENSE.txt

# CMake
!CMakeLists.txt

# Xcode
sunfish3.xcodeproj/xcuserdata
sunfish3.xcodeproj/project.xcworkspace/xcuserdata
sunfish3.xcodeproj/project.xcworkspace/xcshareddata

# VC
Release/
Debug/
*.obj
*.exe
*.exp
*.pdb
*.dll
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.zip
[Dd]ebug*/
*.lib
*.sbr
[Ll]ib/
[Rr]elease*/
[Tt]est[Rr]esults/
_UpgradeReport_Files/
_ReSharper.*/

# Mac
Thumbs.db
