/sunfish_*
/out/test_result_sse.xml
/out/test_result_nosse.xml
/out/build

*.html
*.csa
*.out
*.d
*.o
*.gcda
*.log
*~
*.csv
*.bin
*.dat
*.txt
*.org
*.tar.gz

!/kifu/**/*.csa
!LICENSE.txt

# CMake
!CMakeLists.txt

# Mac
Thumbs.db
