/sunfish_*
/out/test_result.xml
/out/build
/out/date

*.html
*.csa
*.out
*.d
*.o
*.gcda
*.log
*~
*.csv
*.bin
*.dat
*.txt
*.org
*.tar.gz

!/kifu/**/*.csa
!LICENSE.txt

# CMake
!CMakeLists.txt

# ec2
/ec2_backup

# Mac
Thumbs.db
